/* ОСНОВА */

body {
    margin: 0;
    background: #d8d3c8;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

/* ШАПКА  */

.header {
    background: #566256;

    color: white;

    text-align: center;

    padding: 30px;

    margin: 20px;

    border-radius: 30px;
}

/* НАВИГАЦИЯ */

.nav {
    background: #566256;

    display: flex;

    justify-content: center;

    gap: 40px;

    padding: 15px;

    margin: 20px;

    border-radius: 20px;

    flex-wrap: wrap;
}

.nav a {
    color: white;

    text-decoration: none;

    font-weight: bold;

    transition: 0.3s;
}

.nav a:hover {
    opacity: 0.7;
}

/*  ЗАГОЛОВКИ  */

.title {
    text-align: center;

    margin-top: 60px;

    color: #566256;
}

/*  ГАЛЕРЕЯ ГЛАВНОЙ  */

.gallery {
    display: flex;

    justify-content: center;

    gap: 30px;

    margin-top: 50px;

    flex-wrap: wrap;
}

.gallery img {
    width: 180px;
    height: 350px;

    object-fit: cover;

    border-radius: 100px;

    transition: transform 0.3s ease;

}

.gallery img:hover {
    transform: scale(1.05);
}

/*  БЛОК ABOUT  */

.about {
    text-align: center;

    margin-top: 50px;

    padding: 20px;
}

.about button {
    background: #566256;

    color: white;

    border: none;

    padding: 15px 40px;

    border-radius: 30px;

    margin-top: 20px;

    cursor: pointer;
}

/*  ИНФОРМАЦИЯ  */

.info {
    text-align: center;

    margin-top: 80px;

    padding: 20px;
}

/*  ФОРМА  */

.form-section {
    text-align: center;

    margin-top: 80px;
}

form {
    display: flex;

    flex-direction: column;

    width: 300px;

    margin: auto;

    gap: 15px;
}

input {
    padding: 15px;

    border: none;

    border-radius: 15px;
}

/*  ОТЗЫВЫ  */

.reviews {
    margin: 80px 20px;
}

.review {
    background: #566256;

    color: white;

    padding: 30px;

    border-radius: 30px;

    margin-bottom: 20px;
}

/*  ПОРТФОЛИО */

.project {
    margin: 60px 20px;
}

/* картинки проекта */

.images-row {
    display: flex;

    justify-content: center;

    gap: 20px;

    margin-bottom: 20px;

    flex-wrap: wrap;
}

.images-row img {
    width: 220px;
    height: 220px;

    border-radius: 50%;

    object-fit: cover;
}

/* текст проекта */

.project-text {
    max-width: 800px;

    margin: auto;

    text-align: center;

    line-height: 1.6;
}

/*  ЧЕРТЕЖИ  */

.drawings {
    display: flex;

    justify-content: center;

    gap: 20px;

    flex-wrap: wrap;

    margin: 60px 20px;
}

.drawings img {
    width: 350px;
    height: 350px;

    object-fit: cover;

    border-radius: 20px;
}

/*  КОНТАКТЫ */

.contacts {
    text-align: center;

    margin-top: 80px;

    line-height: 2.5;

    font-size: 18px;

    color: #566256;
}


/*  ДЕКОР НАД ФУТЕРОМ  */

.footer-decor {
    display: flex;

    justify-content: center;

    align-items: flex-end;

    gap: 25px;

    margin-top: 140px;

    margin-bottom: -140px;

    position: relative;

    z-index: 1;
}

/* общая форма */

.oval {
    width: 210px;

    background: #566256;

    border-radius: 150px;

    opacity: 0.95;
}

/* разные размеры */

.oval-1 {
    height: 650px;
}

.oval-2 {
    height:300px;
}

.oval-3 {
    height: 450px;
}

.oval-4 {
    height: 320px;
}

.oval-5 {
    height: 550px;
}

/* ФУТЕР */

.footer {
    background: #566256;

    color: white;

    text-align: center;

    padding: 30px;

    margin-top: 0;

    position: relative;

    z-index: 2;
}

/* ПРАЙС */

.tariff-row {
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin: 60px 20px;
    flex-wrap: wrap;
    gap: 0; /* важно: чтобы ничего не разъезжалось */
}

.tariff-card {
    padding: 40px;
    border-radius: 40px;
    min-height: 220px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    position: relative;
}

.beige {
    background: #c2bbae;
    width: 260px;
    z-index: 3;
}

.green {
    background: #5c6a59;
    color: white;
    width: 420px;
    z-index: 2;
}

.dark {
    background: #566256;
    color: white;
    width: 240px;
    z-index: 1;
}

/* общая карточка */

.tariff-card {

padding: 40px;

    border-radius: 40px;

    min-height: 220px;

    display: flex;

    flex-direction: column;

    justify-content: center;

    position: relative;
}

/* эффект наложения */

.tariff-card:not(:first-child) {
    margin-left: -40px;
}

/* цвета */

.beige {
    background: #c2bbae;

    width: 260px;

    z-index: 3;
}


n {
    background: #7d8b7d;

    color: white;

    width: 420px;

    z-index: 2;
}

.dark {
    background: #566256;

    color: white;

    width: 240px;

    z-index: 1;
}

/*  ТАБЛИЦА  */

.price-table-section {
    display: flex;

    justify-content: center;

    margin: 100px 20px;
}

.price-table {
    width: 90%;

    background: #c4beb0c9;

    border-radius: 30px;

    overflow: hidden;

    border-collapse: collapse;
}

.price-table th {
    background: #b9b4aad8;

    padding: 25px;

    color: #566256;
}

.price-table td {
    padding: 25px;

    text-align: center;

    border-top: 1px solid rgba(86, 98, 86, 0.2);
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
}


main {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
}

.btn {
    display: inline-block;

    background: #566256;
    color: white;

    text-decoration: none;

    padding: 15px 40px;

    border-radius: 30px;

    margin-top: 20px;

    transition: 0.3s;

    cursor: pointer;
}

.btn:hover {
    opacity: 0.8;
}

.images-row img,
.drawings img {
    transition: transform 0.3s ease;
}

.images-row img:hover,
.drawings img:hover {
    transform: scale(1.05);
}